<%- include("partials/header") -%>
<div class="main">
<h2>About Marlie</h2>

<p>The idea behind Malie started when we noticed on the Chistmasmarkets, and before that, that no one makes pancakes themselves. Since we are Belgians it also bothered us that
the Belgian waffles that people sell come from a package. We could not understand why this is, so we decided we would start a bakery where they are hand made and fresh. </p>
</div>
<%- include("partials/footer") -%>
