<%- include("partials/header") -%>
<div class="main">
  <h1>Click on any of the below to contact us on the medium you pefer.</h1>
  <a href="https://www.facebook.com/Belgium-Bakery-Marlie-102202712328704"><i class="icon fab fa-facebook fa-5x"></i></a>
  <a href="https://www.instagram.com/belgiumbakery_marlie/?fbclid=IwAR0QPFICDdUNF84vAYuBmq3qmvhFhcdipun8IJ0HO7oEPVMxZ0QwBe6PVEg"><i class="icon fab fa-instagram fa-5x"></i></a>
  <a href= <%= link %> ><i class="icon fab fa-whatsapp fa-5x"></i></a>
  <a href="mailto:bakery.marlie@gmail.com"><i class="icon fas fa-envelope-square fa-5x"></i></a>
</div>

<%- include("partials/footer") -%>
