<%- include("partials/rubric") -%>
<div class="main">
<h2>Handla om Marlie</h2>

<p>Idén bakom Malie började när vi märkte på julmarknaderna, och innan dess, att ingen gör pannkakor själv. Eftersom vi är belgare störde det oss också på det
de belgiska våfflorna som folk säljer kommer från ett paket. Vi kunde inte förstå varför det är så, så vi bestämde oss för att starta ett bageri där de är handgjorda och färska. </p>
</div>
<%- include("partials/footer") -%>
