<%- include("partials/rubric.ejs") -%>
<div class="main">
<h1>Välkommen till Marlie</h1>
<p>Marlie är ett litet bageri som specialiserar sig på typiska belgiska desserter. Vi gör alla våra desserter själva med färskvaror. Eftersom vi arbetar från vårt hem kan vi bara erbjuda avhämtning tills vidare.
Gå över till vår produktsektion för att ta reda på exakt vilka desserter vi erbjuder.
</p>
</div>
<%- include("partials/footer.ejs") -%>
