<%- include("partials/header") -%>
<div class="main">
<h1>Welcome to Marlie</h1>
<p>Marlie is a small bakery that specializes in typical Belgian desserts. We make all our desserts ourselves with fresh products. As we operate from our home we can only offer take out for the time being.
Head over to our products section to find out exactly which desserts we offer.
</p>
</div>
<%- include("partials/footer") -%>
