<%- include("partials/header") -%>
<div class="main">
<h2>Våra produkter</h2>
<div class="skill-row">
  <img class="left-img" src="images/programming.png" alt="programming-img">
  <h3>Våfflor</h3>
</div>
<div class="skill-row">
  <img class="right-img" src="images/programming.png" alt="programming-img">
  <h3>Pannkakor</h3>
</div>
</div>
<%- include("partials/footer") -%>
