body {
  background-color: #EAF6F6;
}

h1 {
  color: #66BFBF;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

div {
  margin-bottom: 10px;
}

label {
  display: inline-block;
  width: 110px;
  color: #777777;
}

input {
  padding: 5px 10px;
}

/* navbar */

/* The navigation bar */
.navbar {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 7;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 100px; /* Add a top margin to avoid content overlay */
  text-align: center;
  z-index: 0;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.language {
  width: 35px;
  height: 35px;
}
